@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 40s linear infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

.thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  background-color: transparent; /* hide track */
}

.thumb--zindex-3 { z-index: 3; }
.thumb--zindex-4 { z-index: 4; }

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #083d5c;
  cursor: pointer;
  margin-top: -10px; /* center thumb on the track */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);
}

.thumb::-moz-range-thumb {
  pointer-events: all;
  width: 20px; /* Firefox thumb is slightly different */
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #083d5c;
  cursor: pointer;
  -moz-appearance: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);
}

/* Quill Editor Styles */
.ql-editor {
  min-height: 200px;
}
